/* Sticky footer styles
-------------------------------------------------- */
/*
html {
  position: relative;
  min-height: 100%;
}*/
/*
body {
  * Margin bottom by footer height *
  margin-bottom: 60px;
}*/
.footer {
  position: fixed; 
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.character-image {
  border-style: solid;
  border-width: 10px;
  border-color: #330b0b;
  margin-left: -30px;
  border-radius: 300px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 30px 15px 0;
}





.navbar-nav{
  float:none;
  text-align: center;
}
.navbar-nav li{
  display: inline-block;
  float: none;
}

/*
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}*/

/* Remove the navbar's default margin-bottom and rounded borders */ 
    /*.navbar {
      margin-bottom: 0;
      border-radius: 0;      
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    /*.row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding 
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid 
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }*/

    